<%= form_for :country, data: {'controller': 'select'} do |f| %>
  <%= select_tag :country, options_for_select(['USA', 'Spain']),
    { data: {'action': "select#loadCities", 'select-target': 'selectedCountry' }, include_blank: 'Select country' } %>
  <%= render 'select', cities: @cities %>
<% end %>
